<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>

  <div class="jumbotron">

      <% if(typeof(errors) != 'undefined' ) { %>
        <span style="color: red">Something went wrong</span>
        <p><%= errors%></p>
        <% for (var x in errors) { %>
         <h3><%= errors[x].messages %></h3>
        <% } %>
    <% } %>


    <form action='/add' , method='POST'>
      <div class="form-group">
        <label for="exampleFormControlInput1">Name</label>
        <input type="text" class="form-control" id="name" name='name'>
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Quote</label>
        <input type="text" class="form-control" id="quote" name='quote'>
      </div>
      <input type="submit" class="btn btn-success"></input>
    </form>

    <a href="/result"> See all quotes</a>
  </div>
</body>
</html>