extends layout

block content
  h1 #{title}
  form(method='POST', action='/animals/add')
    #form-group
      label Name:
      input.form-control(name='name', type='text')
    #form-group
      label Color:
      input.form-control(name='color', type='text')
    #form-group
      label Favorite Food:
      input.form-control(name='favfood', type='text')
    #form-group
      label Origin:
      input.form-control(name='origin', type='text')
    
    input.btn.btn-primary(type='submit',value='Submit')
