<p>product-edit works!</p>

<section>
  <fieldset>
    <legend> Edit Product</legend>
    {{ productForm.value | json }}
    <form (submit)="onSubmit($event, productForm)" #productForm="ngForm">
      <input type="hidden" name="_id" [ngModel]="product?._id" />
      <div class="form-group">
        <label for="title">Name</label>
        <input type="text" class="form-control" id="title" name="title" [ngModel]="product?.title" #title="ngModel"
          placeholder="title" minlength="3" required />
        <div *ngIf="(title.touched || title.dirty) && title.errors">
          <div *ngIf="title?.errors?.required" class="alert alert-danger">
            You must enter a product title!
          </div>
          <div *ngIf="title?.errors?.minlength" class="alert alert-danger">
            Title must be at least
            {{ title?.errors?.minlength.requiredLength }} characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="url">Image</label>
        <input type="text" class="form-control" id="url" name="url" [ngModel]="product?.url" #url="ngModel"
          placeholder="url" minlength="3" required />
        <div *ngIf="(url.touched || url.dirty) && url.errors">
          <div *ngIf="url?.errors?.required" class="alert alert-danger">
            You must enter a product url!
          </div>
          <div *ngIf="url?.errors?.minlength" class="alert alert-danger">
            url must be at least
            {{ url?.errors?.minlength.requiredLength }} characters
          </div>
        </div>
      </div>


      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" name="price" id="price" [ngModel]="product?.price" #price="ngModel"
          placeholder="price" />
      </div>


      <button *ngIf="productForm.valid && !productForm.submitted">Update</button>
    </form>
  </fieldset>
</section>
