<p>nav works!</p>

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Home</a>
      <a class="navbar-brand" [routerLink]="['/']">Product List</a>
      <a class="navbar-brand" [routerLink]="['/products/new']">New Product</a>
    </div>
</nav>

<div style="text-align:center">
    <div class="card border-info mb-3" style="max-width: 100rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-info">
          <h5 class="card-title">Info card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
</div>

