extends layout

block content
  h1 #{title}
  form(method='POST', action='/comment/addc')

    #form-group
      label Body:
      textarea.form-control(name='body')
    br
    
    input.btn.btn-primary(type='submit',value='Submit')
