<div style="text-align:center">
  <p>I am in edit primary object</p>

  <h2>Edit Primary Object</h2>
  <button [routerLink]="['/home']">Go back home</button>


  <section>
    <fieldset>
      <legend>Objects</legend>
      {{ myobjectForm.value | json }}
      <form (submit)="onSubmit($event, myobjectForm)" #myobjectForm="ngForm">
        <input type="hidden" name="_id" [ngModel]="myobject?._id" />
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" name="title" [ngModel]="myobject?.title" #title="ngModel"
            placeholder="title" minlength="3" required />
          <div *ngIf="(title.touched || title.dirty) && title.errors">
            <div *ngIf="title?.errors?.required" class="alert alert-danger">
              You must enter a myobject title!
            </div>
            <div *ngIf="title?.errors?.minlength" class="alert alert-danger">
              Title must be at least
              {{ title?.errors?.minlength.requiredLength }} characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="descr">Description</label>
          <input type="text" class="form-control" id="descr" name="descr" [ngModel]="myobject?.descr" #descr="ngModel"
            placeholder="descr" minlength="3" required />
          <div *ngIf="(descr.touched || descr.dirty) && descr.errors">
            <div *ngIf="descr?.errors?.required" class="alert alert-danger">
              You must enter a myobject descr!
            </div>
            <div *ngIf="descr?.errors?.minlength" class="alert alert-danger">
              descr must be at least
              {{ descr?.errors?.minlength.requiredLength }} characters
            </div>
          </div>
        </div>

        <button *ngIf="myobjectForm.valid && !myobjectForm.submitted">Update</button>
      </form>
    </fieldset>
  </section>
  </div>
